<header>

    <section id="top-navigation" class="container-fluid nopadding">

        <div class="row nopadding ident e-bg-light-texture">

            <div class="col-md-12 nopadding">
                <ul id="nav" class="row nopadding">
                    <li class="col-sm-1 col-sm-offset-10 menuitem green">
                        <a href="index.html" class="hvr-sweep-to-bottom"><i class="fa fa-cog"></i><span>home</span></a>
                    </li>
                    <li class="col-sm-1 menuitem blue">
                        <a href="resume.html" class="hvr-sweep-to-bottom"><i class="flaticon-graduation61"></i><span>resume</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</header>
